.header-main-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 80px;
}
.header-logo {
  width: 25%;
}
.header-logo img {
  height: 42px;
  width: 185px;
}
.header-search {
  display: flex;
  align-items: center;
  width: 55%;
}
.header-search-input {
  border: 1px solid grey;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 760px;
  max-width: 100%;
  height: 40px;
}
.header-search-input-icon {
  background-color: black;
  width: 54px;
  height: 44px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-profile {
  display: flex;
  width: 20%;
}
.header-profile-icon {
  margin-left: 60px;
}
.header-profile-icon img,
.header-search-cart img {
  height: 32px;
  width: 32px;
}
.header-search-cart {
  margin-left: 80px;
}

.header-mobile-main {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
.header-mobile-search {
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
}
.header-search-input-mobile {
  border: 1px solid grey;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  min-width: 250px;
  max-width: 100%;
  height: 30px;
}
.header-search-input-icon-mobile {
  background-color: black;
  width: 54px;
  height: 34px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1630px) {
  .header-search-input {
    width: 600px;
  }
  .header-search-input-icon {
    width: 54px;
    height: 44px;
  }
}
@media only screen and (max-width: 800px) {
  .header-main-parent {
    display: none;
  }
  .header-profile-icon {
    margin: 0;
  }
  .header-search-cart {
    margin: 0;
  }
  .header-mobile-main {
    display: flex;
  }
  .header-mobile-search {
    display: flex;
  }
}
